*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: $neutral-900;
}

img{
    display: block;
    max-width:100%;
}

a{
    display: block;
    color: $neutral-900;
}