<nav class="w-1296 d-flex align-center justify-between pt-16 pb-16 pt-sm-12 pb-sm-12">
    <ul class="d-flex align-center">
        <li class="mr-48">
            <a href="./index.html">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week1/logo.svg"
                    alt="">
            </a>
        </li>

        <li class="mr-40"><a href="./products.html"
                class="fw-500 pt-12 pb-12 text-neutral-900 text-dec-n d-sm-none">商品列表</a></li>
        <li class="mr-40"><a href="./story.html"
                class="fw-500 pt-12 pb-12 text-neutral-900 text-dec-n d-sm-none">品牌故事</a></li>
    </ul>

    <a href="" class="p-12"><i class="bi bi-person"></i></a>
</nav>