.header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 288px 0;
}

.section-sale {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;

    .star-img {
        position: absolute;
        width: 48px;
        top: 68px;
        left: calc(50% - 384px);
    }

    .sparkle-img {
        position: absolute;
        width: 76px;
        bottom: 132px;
        right: calc(50% - 359px);
    }
}

.index-container {
    max-width: 1320px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 12px;
    padding-right: 12px;
}

.outfit-row {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}

.outfit-col-4 {
    width: calc(100%/12*4);
    padding: 4px;
}

.outfit-col-6 {
    width: calc(100%/12*6);
    padding: 4px;
}

.outfit-col-12 {
    width: 100%;
    padding: 4px;
}

a {
    text-decoration: none;
}

@media(max-width:767px) {
    .header {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true);
        padding: 155px 0;
    }

    .section-sale {
        padding: 64px 0;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded-sm.png?raw=true);

        overflow: hidden;

        .star-img {
            top: 32px;
            left: -20px;
        }

        .sparkle-img {
            bottom: 104px;
            right: -28px;
        }
    }

    .outfit-row {
        flex-wrap: nowrap;
        margin: 0 -8px;

        img {
            min-width: 300px;
        }
    }

    .outfit-col-4,
    .outfit-col-6,
    .outfit-col-12 {
        width: unset;
        padding: 0 8px;
    }


}