.story-header{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-container{
    max-width: 880px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

a{
    text-underline-offset: 4px;
}