.story-header{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 400px;
    padding: 151px 0;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-container{
    max-width: 880px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

a{
    text-underline-offset: 4px;
}

@media(max-width:767px){
    
    .story-header{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true);
        padding: 87px 0;
    }

    .story-container-md{
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    }
}