<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="header d-flex align-center mb-64">
        <div class="ml-200">
            <p class="text-white fz-64 fw-700 lh-1_2">URBNSTEP</p>
            <p class="text-white fz-28 fw-700 lh-1_2 mb-48">Your Step, Your Statement</p>
            <button type="button"
                class="btn bg-primary-300 text-neutral-900  fw-500 border-radius-4 pt-12 pb-12 pr-24 pl-24 pt-sm-8 pb-sm-8 pr-sm-16 pl-sm-16">
                立即選購
            </button>
        </div>
    </div>

    <h1 class="text-aligh-center mb-32">
        <span class="fz-48 fw-700 lh-1_2 mb-12">New Arrival</span>
        <br>
        <span class="fz-32 fw-700 lh-1_2">新品上市</span>
    </h1>

    <div class="index-container pb-128">
        <div class="row row-md">
            <div class="col-6 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                    <h2 class="h6 mb-4">PLATFORM 404</h2>
                    <p>NT$2,600</p>
                </a>
            </div>

            <div class="col-6 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                    <h2 class="h6 mb-4">PLATFORM 404</h2>
                    <p>NT$2,600</p>
                </a>
            </div>

            <div class="col-6 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                    <h2 class="h6 mb-4">PLATFORM 404</h2>
                    <p>NT$2,600</p>
                </a>
            </div>

            <div class="col-6 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                    <h2 class="h6 mb-4">PLATFORM 404</h2>
                    <p>NT$2,600</p>
                </a>
            </div>
        </div>
    </div>

    <div class="index-container pb-112">
        <h2 class="h2 mb-16 pt-5 pb-5">熱銷補貨</h2>

        <div class="row row-md">
            <div class="col-3 mb-40 col-md-2">
                <a href="#" class="p-relative">
                    <p class="p-absolute pt-8 pb-8 pr-12 pl-12 text-sm fw-500 bg-primary-100">人氣 No.1</p>
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>
        </div>
    </div>

    <div class="section-sale mb-112">

    </div>

    <div class="index-container pb-128">
        <h2 class="h2 mb-16 pt-5 pb-5">依系列選購</h2>

        <div class="row row-md">
            <div class="col-3 mb-40 col-md-2">
                <a href="#" class="p-relative">
                    <div class="w-full h-full p-absolute text-sm fw-500 bg-black o-40">
                        <p>URBN RUNNER</p>
                        <p>慢跑系列</p>
                    </div>
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>

            <div class="col-3 mb-40 col-md-2">
                <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                        alt="" class="mb-12">
                </a>
            </div>
        </div>
    </div>

    <div class="index-container pb-128">
        <h2 class="h2 mb-16 pt-5 pb-5">穿搭靈感</h2>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
