<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title>contact</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="products-container pt-32 pb-80 pt-sm-16 pr-md-12 pl-md-12 pb-sm-40">
      <nav class="mb-24 mb-sm-12">
        <ol class="d-flex">
          <li class="breadcrumb-item"><a href="./index.html" class="text-neutral-600 fz-sm-14 fw-sm-500">首頁</a>
          </li>
          <li class="breadcrumb-item"><a href="#" class="text-neutral-600 fz-sm-14 fw-sm-500">女鞋</a></li>
          <li class="breadcrumb-item fz-sm-14 fw-sm-500">所有商品</li>
        </ol>
      </nav>

      <h1 class="h3 mb-24 pt-7 pb-7 pt-sm-9_5 pb-sm-9_5 mb-sm-12">女鞋</h1>

      <div class="row row-md">
        <div class="col-2 d-md-none">
          <ul>
            <li><a href="#" class="pt-8 pb-8 mb-16 text-primary-400">所有商品</a></li>
            <li><a href="#" class="pt-8 pb-8 mb-16">慢跑鞋</a></li>
            <li><a href="#" class="pt-8 pb-8 mb-16">滑板鞋</a></li>
            <li><a href="#" class="pt-8 pb-8 mb-16">厚底鞋</a></li>
            <li><a href="#" class="pt-8 pb-8 mb-16">限定 / 聯名企劃</a></li>
          </ul>
        </div>


        <div class="col-10 col-md-4">
          <div class="row row-md mb-sm-8">
            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">PLATFORM 404</h2>
                <p>NT$2,600</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">VM001</h2>
                <p>NT$2,600</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">Melty Kiss</h2>
                <p>NT$4,000</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">BOOMBLOK</h2>
                <p>NT$3,200</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">R:UNER</h2>
                <p>NT$4,000</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">Sugar Snap</h2>
                <p>NT$4,000</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">Neofoam</h2>
                <p>NT$4,000</p>
              </a>
            </div>

            <div class="col-4 mb-48 col-md-2 d-mx-none mb-sm-24">
              <a href="#">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
                  alt="" class="mb-12 mb-sm-8">
                <h2 class="h6 mb-4">Buttermood</h2>
                <p>NT$4,000</p>
              </a>
            </div>
          </div>

          <div>
            <ul class="d-flex justify-center align-center">
              <li class="mr-12">
                <button type="button" class="lh-1_5 btn pt-12 pb-12 pr-15 pl-15">
                  <i class="bi bi-chevron-compact-left arrow"></i>
                </button>
              </li>

              <li class="mr-8">
                <button type="button" class="lh-1_5 btn pt-8 pb-8 pr-15 pl-15 bg-primary-300 fz-16 fw-500">
                  1
                </button>
              </li>

              <li class="mr-8">
                <button type="button" class="lh-1_5 fz-16 btn pt-8 pb-8 pr-15 pl-15">
                  2
                </button>
              </li>

              <li class="mr-8">
                <button type="button" class="lh-1_5 fz-16 btn pt-8 pb-8 pr-15 pl-15">
                  3
                </button>
              </li>

              <li class="mr-8">
                <button type="button" class="lh-1_5 fz-16 btn pt-8 pb-8 pr-15 pl-15">
                  ...
                </button>
              </li>

              <li>
                <button type="button" class="lh-1_5 fz-16 btn pt-8 pb-8 pr-15 pl-15">
                  10
                </button>
              </li>

              <li class="ml-12">
                <button type="button" class="lh-1_5 btn pt-12 pb-12 pr-15 pl-15">
                  <i class="bi bi-chevron-compact-right arrow"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>